<mat-card>
    <mat-card-title>Deletar produto</mat-card-title>
    <form style="display:flex; flex-direction:column">
        <mat-form-field>
            <input matInput placeholder="Nome" disabled [value]="product.name" name="name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" disabled [value]="product.price" name="price" />
        </mat-form-field>
    </form>

    <div style="margin-top:10px">
        <button mat-raised-button (click)="deleteProduct()" color="warn" style="margin-right:7px">
            Excluir
        </button>
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>